* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

.corpo {
    background-color: white;
}

.principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 325px;
    flex-wrap: wrap;

}

.resultado {
    background-image: linear-gradient( to bottom,hsl(252, 100%, 67%) 5%, hsl(241, 81%, 54%) 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin-right: -10px;
    width: 350px;
    padding-left: 50px;
    padding-right: 50px;

}

.score {
    background-image: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0) 90%);
    padding: 100px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.summary {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 350px;
}

.itens {
    display: flex;
    border-radius: 10px;
    padding: 13px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 17px;
}

.number {
    margin-left: 20px;
    position: absolute;
    left: 720px;
    color: hsla(240, 11%, 49%, 0.692);

}

.menor {
    position: absolute;
    left: 714px;
    color: hsl(224, 30%, 27%);
}

.item {
    position: absolute;
    left: 550px;
}

h3 {
    margin-top: 20px;
    font-weight: 800;
    font-size: 23px;  
    margin-bottom: 15px;
}

#reaction {
    background-color: hsla(0, 100%, 67%, 0.07);
    color: hsl(0, 100%, 67%) ;
}
#memory {
    background-color: hsla(39, 100%, 56%, 0.07);
    color: hsl(39, 100%, 56%);
}

#verbal {
    background-color: hsla(166, 100%, 37%, 0.09);
    color: hsl(166, 100%, 37%);
}

#visual {
    background-color: hsla(234, 85%, 45%, 0.07);
    margin-bottom: 20px;
    color: hsl(234, 85%, 45%);
}

button {
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: hsl(224, 30%, 27%);
    border: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
    padding: 18px;
    border-radius: 30px;
}

button:hover { 
    background-color: hsl(234, 85%, 45%);
}

.your {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: 700; 
    color: hsl(241, 100%, 89%);
}

h1 {
    color: white;
    font-size: 70px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.ponto {
    color: hsl(241, 100%, 89%);
    position: absolute;
    top: 545px;
}

h2 {
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
}

.texto {
    color: hsl(241, 100%, 89%);
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    font-size: 17px;
    
}